<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Category index</title>
</head>
<body>
<div>
    <div>
        <h1>Category index</h1>
        <button type="button">
            <a href="/">Principal menu</a>
        </button>
    </div>
    <ul>
        <li><a href="/createCategory">Create category</a></li>
        <li><a href="/readCategories">Read categories</a></li>
    </ul>
</div>
</body>
</html>